*{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #6699ff -5%, #ccffff 117%);
    background-size: cover;
}
.clgname{
    text-align: center;
    font-family: 'Amita', cursive;
    font-size: 30px;
    animation: colorchange 4s infinite ease-in;
}
@keyframes colorchange {
    0%{
        color: black;
    }
    20%{
        color: red;
    }
    40%{
        color: purple;
    }
    60%{
        color: blue;
    }
    80%{
        color: chardiveuse;
    }
    100%{
        color: crimson;
    }
}
.regname{
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 40px;
}

header{
    background: linear-gradient(to bottom, #6699ff -5%, #ccffff 117%);
    padding: 10px;
}
#register{
    background: linear-gradient(to top, #6699ff -5%, #ccffff 117%);
    padding: 20px;
    animation: ;
}
#form-block{
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin: auto;
}

input, textarea{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    width: 240px  ;
    font-size: 20px;
    padding: 0px 10px;
}
select, #myFile{
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
#myFile{
    width: 250px;
}
#date{
cursor: text;
}
select option{
    cursor: pointer;
}
input:hover, textarea:hover, select:hover{
    background: linear-gradient(to bottom, #6699ff -5%, #ccffff 117%);

}
.center{
    margin: auto;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center ;
}
#submit{
    border: none;
    /* border: 2px solid red; */
    cursor: pointer;
    width: 120px;
}
#submit:hover, #reset:hover{
    transform: scale(1.2);
}
#reset{
    border: none;
    text-align: center;
    /* border: 2px solid red; */
    cursor: pointer;
    width: 120px;
}
.num{
    width: 100px;
}
.smallsize{
    font-size: 20px;
}
#form-block{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 430px;
}
.block{
    display: flex;
    margin: 10px;
}
.leftcol{
    width: 200px;
    font-size: 20px;
}
.rightcol{
    /* border: 2px solid black; */
    width: 200px;
}
.rightcol a{
    margin: 0px 15px;
}
.rightcol a:hover{
    transform: scale(1.2);
}
.marks{
    width: 50px;
}
#agree{
    text-align: left;
    /* border: 2px solid black; */
    margin: auto;
    padding: 5px;
}
#agreecheck{
    width: auto;
}
footer{
    margin: 10px;
}
@media only screen and (max-width:500px){
    #form-block{
        /* border: 2px solid black; */
        display: flex;
        width: 100%;
    }
    .block{
        flex-direction: column;
        margin: 10px auto ;
        width: 90%;
    }
    input{
        width: 100%;
        margin: auto;
    }
    #agree{
        width: 100%;
        margin: 10px auto;
    }
    .centerblock{
        display: flex;
        flex-direction: row;
    }
    .center , .center2{
        width: auto;
    }
    .copyright{
        flex-direction: column;
    }
    .smallsize input, .rightcol textarea {
        width: 100%;
    }
    input #date{
        width: 50%;
    }
}